.mso-leading-exactly {
	mso-line-height-rule: exactly;
}
body, td{
	@apply font-sans;
}
.spacer {height: 0;}

@responsive {
	.table-row-group {
	display: table-row-group;
	}
	.table-header-group {
	display: table-header-group;
	}
	.table-footer-group {
	display: table-footer-group;
	}
	.table-column-group {
	display: table-column-group;
	}
	.table-column {
	display: table-column;
	}
	.table-caption {
	display: table-caption;
	}
}

.module {
	@apply w-full;
}
.outerrow{
	@apply w-full;
}
.row {
	@apply w-600 ;
}
.col {
	@apply text-left p-10;
}
.swrap {
	@apply p-0;
}
.bgimage{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@apply bg-mailster-row;
}
h1,h2,h3,h4,h5,h6{
}

.textbutton td{
}
.textbutton td:hover{
}
.textbutton a{
	@apply block;
}
.separator td{
	@apply py-12 px-2;
}
.separator div{
	@apply border-0 border-b border-black border-dotted h-px leading-px;
}


.mymail .wrapper{
	@apply bg-grey-light font-helvetica text-grey-darker;
}
.mymail td{
	@apply font-helvetica;
}
.mymail h1,.mymail h2,.mymail h3,.mymail h4,.mymail h5,.mymail h6{
	@apply font-normal text-grey-darkest m-0;
}
.mymail h1,.mymail h2,.mymail h3{
	@apply tracking-tight;
}
.mymail .row{
	@apply bg-white;
}
.mymail .wrap{
	@apply px-10 leading-24;
}
.mymail .textbutton td{
	@apply border border-grey border-solid rounded bg-grey-lighter py-8 px-12 ;
	mso-padding-alt: 8px 12px;
}
.mymail .textbutton a{
	@apply block text-grey-darker leading-14 no-underline font-bold text-sm;
}
.mymail .textbutton td:hover{
	@apply bg-grey-light;
}



.market .wrapper{
	@apply font-helvetica text-grey-darker;
}
.market td{
	@apply font-helvetica;
}
.market .wrap{
	@apply leading-24;
}
.market h1,.market h2,.market h3,.market h4,.market h5,.market h6{
	@apply my-4;
}
.market h1,.market h2,.market h3{
	@apply tracking-tighter;
	color:#353535;
}
.market .textbutton td{
	@apply py-8 px-12 ;
	background: #00A9E0;
	mso-padding-alt: 8px 12px;
}
.market .textbutton a{
	@apply block text-white leading-14 no-underline font-bold text-sm;
}
.market .textbutton td:hover{
	@apply bg-grey-light;
}

.market .separator td{
	@apply p-0 pt-12 px-0;
}
.market .separator div{
	@apply border-black border-solid;
}




@media (max-width: config('screens.sm.max')) {
	.row {
		@apply w-full;
	}
	.col {
		@apply block w-full p-10 !important;
	}
}
